<%= link_to "Home",products_home_path%>

<div class="top">

<h3><center>***LOGIN NOW***</center></h3>

<table align="center">

<<<<<<< HEAD
<%=form_for [@adminst],:url=>{:controller=>"products",:action=>"login_process"} do |i| %>
=======
<%=form_for [Admin.new],:url=>{:controller=>"products",:action=>"login_process"} do |i| %>
>>>>>>> 6d2f4899fc872e93c63abe34e7775b8eff401381

<tr>

  <td><%= i.text_field :name,:placeholder=>"Username",:required=>true %></td>

</tr>

<tr>

  <td><%= i.password_field :newpass,:placeholder=>"Password",:required=>true %></td>

</tr>

<table align="center">

  <tr>

   <td><%= i.submit "Login"%></td>

<<<<<<< HEAD
   <td><%= link_to "ForgotPassword?",products_forgot_path%></td>
=======
   <td><!--%= link_to "Create Account!",products_new_account_path%--></td>
>>>>>>> 6d2f4899fc872e93c63abe34e7775b8eff401381

  </tr>


  </center>

  <%end%>

</table>


<div>

<div id="index">

         <!--img src="/assets/logo.jpeg"-->
</div>

