<%= link_to "Home",products_home_path%>

<div class="top">

<h3><center>***LOGIN NOW***</center></h3>

<table align="center">

<%=form_for [@adminst],:url=>{:controller=>"products",:action=>"login_process"} do |i| %>

<tr>

  <td><%= i.text_field :username,:placeholder=>"Username",:required=>true %></td>

</tr>

<tr>

  <td><%= i.password_field :newpass,:placeholder=>"Password",:required=>true %></td>

</tr>

<table align="center">

  <tr>

   <td><%= i.submit "Login"%></td>

   <td><%= link_to "ForgotPassword?",products_forgot_path%></td>

  </tr>


  </center>

  <%end%>

</table>


<div>

<div id="index">

         <!--img src="/assets/logo.jpeg"-->
</div>

