<%= link_to image_tag("/assets/homebutton.jpeg",height: '45', width:'45'),products_home_path%>

<div style="height: 240px; width: 400px; border-radius: 20px; box-shadow: 10px 10px 5px; background-color: white; margin-left: 325px;" id="shadow">

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>

<div style="width: 333px; margin-top: 82px;" class="container">

 <center> <%= image_tag("/assets/logfo1.jpeg")%></center>
   
  <%=form_for [@admi],:url=>{:controller=>"products",:action=>"login_process"} do |i| %>

     <form role="form">
  
      <div class="form-group">
 
      <%= i.text_field:email, :class=>"form-control",:placeholder=>"Enter email",:required=>"true",:autofocus=>"true"%>
 
      </div>

      <div class="form-group">

      <%= i.password_field:password, :class=>"form-control",:placeholder=>"Enter password",:required=>"true"%>

      </div>

      <center><button type="submit" class="btn btn-Danger">Submit</button></center>

     </form>

     </div>

  <%end%>

</div>

</body>

</html>

