<!DOCTYPE html>
<html>
<head>
  <title>ProductCatalog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/slider.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script> 
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript" src="js/startstop-slider.js"></script>

 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function(){
    $("hid").click(function(){
        $(this).hide();
    });
});
</script>

<script>
  $(document).ready(function(){
    $("cid").click(function(){
        $(this).hide();
    });
});
</script>




</head>
<body>

 <div class="wrap">
 <div class="header">
 <div class="headertop_desc">
 <div class="call">
  <p><span>Need help?</span> call us <span class="number">9500988362</span></span></p>
 </div>
 <div class="account_desc">
  <ul>
  
  <li><a href="#"><%= link_to image_tag("/assets/login.jpeg",height: '50', width:'50'),products_login_path,:title=>"Admin Page..."%></a></li>
  
  </ul>
 </div>

 <div class="clear"></div>
 </div> 
 <div class="header_top">
 <div class="logo">
   <a href="index.html"><img src="/assets/altiname.png" alt="" /></a>
 </div>

 <div class="clear"></div>
 </div>
 <div class="header_bottom">
 <div class="menu">
     <ul>
        <li class="active"><%=link_to "Home",root_path%></li>
        <li><a href="description.html">Product Description</a></li>
      <li><a href="details.html">Product Details</a></li>
      <li><a href="aboutus.html">AboutUs</a></li>
      <div class="clear"></div>
     </ul>
 </div>
 <div class="search_box">
          <!--form-->
           <%= form_tag(action: "result", :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search " %>
    <%= submit_tag "", :name => nil %>
<% end %>  <!--/form-->
  
</div>
<div class="clear"></div>
</div>
<div class="header_slide">
<div class="header_bottom_left">        
 <div class="categories">
      <ul>
      <h3>Categories</h3>
      <%@product=Product.where(parent_id:nil)%>
       <%@pro=@product.take(10)%>
        <% @pro.each do |i|%>
        <li>  <%=link_to i.cat_name,product_path(i)%></li>
       <%end%>
           <hid><l class="l" data-toggle="collapse" data-target="#demo">..see more</l></hid>
            <div id="demo" class="collapse">
           <%@product=Product.where(parent_id:nil)%>
          <% (@product-@pro).each do |i|%>
         <li>  <%=link_to i.cat_name,product_path(i)%></li>
         <%end%>
        </div>   
                     
        
       <h3>Manufacturer</h3>
        <%@man=Sku.where("name IS 'Manufacturer Name'").group(:value)%>
         <%@m=@man.take(10)%>

        <%@man.take(10).each do |j|%>

        <li><%=link_to j.value,product_manu_path(j.value) %></li>
        
        <%end%>

        <cid><r class="l" data-toggle="collapse" data-target="#memo">..see more</r></cid>
            <div id="memo" class="collapse">

          <% (@man-@m).each do |j|%>

        <li><%=link_to j.value,product_manu_path(j.value) %></li>
        
        <%end%>
             </div>


       <h3><%=link_to "Manufaturers index",  products_manu_cate_path%></h3>
      
        
      </ul>
 </div>         
 </div>


<div data-pjax-container>
<%= yield %> 
</div>




</body>
</html>
