<!DOCTYPE html>
<html>
<head>
  <title>ProductCatalog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/slider.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script> 
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript" src="js/startstop-slider.js"></script>
</head>
<body>

 <div class="wrap">
 <div class="header">
 <div class="headertop_desc">
 <div class="call">
  <p><span>Need help?</span> call us <span class="number">9500988362</span></span></p>
 </div>
 <div class="account_desc">
  <ul>
  
  <li><a href="#"><%= link_to image_tag("/assets/login.jpeg",height: '50', width:'50'),products_login_path,:title=>"Admin Page..."%></a></li>
  
  </ul>
 </div>

 <div class="clear"></div>
 </div> 
 <div class="header_top">
 <div class="logo">
   <a href="index.html"><img src="/assets/altiname.png" alt="" /></a>
 </div>

 <div class="clear"></div>
 </div>
 <div class="header_bottom">
 <div class="menu">
     <ul>
        <li class="active"><%=link_to "Home",root_path%></li>
        <li><a href="description.html">Product Description</a></li>
      <li><a href="details.html">Product Details</a></li>
      <li><a href="aboutus.html">AboutUs</a></li>
      <div class="clear"></div>
     </ul>
 </div>
 <div class="search_box">
          <!--form-->
           <%= form_tag(action: "result", :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search " %>
    <%= submit_tag "", :name => nil %>
<% end %>  <!--/form-->
  
</div>
<div class="clear"></div>
</div>
<div class="header_slide">
<div class="header_bottom_left">        
 <div class="categories">
      <ul>
      <h3>Categories</h3>
      <%product=Product.where(parent_id:nil)%>
        <% product.limit(10).each do |i|%>
        <li>  <%=link_to i.cat_name,product_path(i)%></li>
       <%end%>
       <h3>Manufacturer</h3>
        <%man=Sku.where("name IS 'Manufacturer Name'").select(:value).uniq%>
        <% man.take(10).each do |j|%>

        <li><%=link_to j.value,product_manu_path(j.value) %></li>
        
        <%end%>
 <h3>Manufatures index</h3>
      <%productm=Product.where(parent_id:nil)%>
        <% productm.limit(10).each do |i|%>
        <li>  <%=link_to i.cat_name, product_manu_index_path(i)%></li>
       <%end%>
      </ul>
 </div>         
 </div>
<%= yield %>
 
 


</body>
</html>
